<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Babify - The tiny URL Shortener</title>
  <meta name="description" content="A URL Shortener using PostgreSQL, Node, Express, Bootstrap, and jQuery.">
  <meta name="author" content="electrostaticfleece">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS for Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/babify.css">

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Crafty+Girls|Chewy' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<div class="page-wrapper">
  <div class="container inner-wrap">
    <div class="row hero-text">
      <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
        <h1>Babify</h1>
        <p class="slogan">Making all the world's links <b>infantesimal</b> one URL at a time.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
        <div class="input-group">
            <input type="text" id="url-input" class="form-control" placeholder="Honey... I shrunk the url!">
            <span class="input-group-btn">
              <button class="btn btn-secondary btn-short" type="button">
                <span class='btn-text'>Babify Me!</span>
              </button>
            </span>
        </div>
      </div>
    </div>

    <div class="row link">
      <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
        <div id="rtn-link"></div>
      </div>
    </div>

  </div>
</div>

<!-- Latest compiled and minified JavaScript for Bootstrap -->
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="javascript/short.js"></script>
</body>

</html>